body{
    /* background-image: linear-gradient(rgb(212, 206, 211),rgb(235, 230, 230)); */
    background-color: rgb(164, 231, 231);
}
.tbl{
    width: 100%;
    height: 50vh;
    position: relative;
    top: 15vh;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border-collapse: collapse;
    
}
.nav{
    height: 10vh;
    font-size: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
   background-image:linear-gradient( rgb(198, 155, 75),rgb(52, 196, 52));
    
    
}
a{
    text-decoration: none;
    
    color: blue;
  

}
.toptr{
    height: 8vh;
    font-size: 3em;
}
.edit{
    color: blue;
    text-decoration: underline;
}

#name{
    height: 12vh;
    width: 30vw;
    border: 2px solid black;
    font-size: 2em;
    background-image: linear-gradient(rgb(133, 238, 247),rgba(0, 0, 255, 0.466));
    position: absolute;
    top: 20vh;
    left: 15vw;
    border-radius: 0 20px;
    text-align: center;

}
#age{
    height: 12vh;
    width: 30vw;
    border: 2px solid black;
    font-size: 2em;
    background-image: linear-gradient(rgb(133, 238, 247),rgba(0, 0, 255, 0.466));
    position: absolute;
    top: 20vh;
    left: 60vw;
    border-radius: 0 20px;
    text-align: center;
    font-weight: bold;
    color:whitesmoke;
}
#course{
    height: 12vh;
    width: 30vw;
    border: 2px solid black;
    font-size: 2em;
    background-image: linear-gradient(rgb(133, 238, 247),rgba(0, 0, 255, 0.466));
    position: absolute;
    top:50vh;
    left: 15vw;
    border-radius: 0 20px;
    text-align: center;
}
#batch{
    height: 12vh;
    width: 30vw;
    border: 2px solid black;
    font-size: 2em;
    background-image: linear-gradient(rgb(133, 238, 247),rgba(0, 0, 255, 0.466));
    position: absolute;
    top:50vh;
    left: 60vw;
    border-radius: 0 20px;
    text-align: center;
}
.main{
    width: 95vw;
    height: 80vh;
    border: 5px solid black;
    border-radius: 40px;
    margin: auto;
    background-image: linear-gradient(white,rgba(0, 0, 255, 0.279));
}
.name{
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 21vh;
    left: 8vw;
    
}
.age{
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 22vh;
    left: 55vw;
    
    
}
.course{
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 52vh;
    left: 7vw;
    
}
.batch{
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 52vh;
    left: 54vw;
    
}
.btnone{
    position: absolute;
    bottom: 15vh;
    left: 50vw;
    height: 10vh;
    width: 20vw;
    font-size: 3em;
    background-image: linear-gradient(gray,white);
    border-radius: 50px;

}
.btnone:hover{
   background-image: linear-gradient(white ,red);
}
.btntwo{
    position: absolute;
    bottom: 15vh;
    left: 30vw;
    height: 10vh;
    width: 20vw;
    font-size: 3em;
    background-image: linear-gradient(gray,white);
    border-radius: 50px;

}
.btntwo:hover{
    background-image: linear-gradient(white ,red);
}

.btnthree{ position: absolute;
    bottom: 15vh;
    left: 50vw;
    height: 10vh;
    width: 20vw;
    font-size: 3em;
    background-image: linear-gradient(gray,white);
    border-radius: 50px;

}


.btnthree:hover{
    background-image: linear-gradient(white ,red);
 }
 .btnfour{
    position: absolute;
    bottom: 15vh;
    left: 30vw;
    height: 10vh;
    width: 20vw;
    font-size: 3em;
    background-image: linear-gradient(gray,white);
    border-radius: 50px;

}
.btnfour:hover{
    background-image: linear-gradient(white ,red);
}
.addnew{
    height: 8vh;
    font-weight: bold;
    position: absolute;
    top: 15vh;
    left: 2vw;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 50px;

}
.addnew:hover{
    background-color: rgba(0, 0, 255, 0.651);
}